USE [LMS_System]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Action] [nvarchar](100) NOT NULL,
	[TableName] [nvarchar](50) NULL,
	[RecordID] [int] NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[IPAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[FilePath] [nvarchar](500) NULL,
	[DueDate] [datetime] NOT NULL,
	[MaxScore] [int] NOT NULL,
	[MaxAttempts] [int] NULL,
	[AllowLateSubmission] [bit] NULL,
	[LatePenalty] [decimal](5, 2) NULL,
	[Weightage] [decimal](5, 2) NULL,
	[IsPublished] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[CourseID] [int] NOT NULL,
	[InstructorID] [int] NOT NULL,
	[MaxStudents] [int] NULL,
	[CurrentStudents] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassStudents]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassStudents](
	[ClassID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[EnrollDate] [datetime] NULL,
	[Status] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC,
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Objectives] [nvarchar](max) NULL,
	[Credits] [int] NOT NULL,
	[Duration] [int] NOT NULL,
	[Prerequisites] [nvarchar](max) NULL,
	[FacultyID] [int] NOT NULL,
	[LeadInstructorID] [int] NOT NULL,
	[AcademicYear] [nvarchar](20) NOT NULL,
	[Semester] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeleteLogs]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeleteLogs](
	[DeleteLogID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[RecordID] [int] NOT NULL,
	[DeletedBy] [int] NOT NULL,
	[DeletedAt] [datetime] NULL,
	[Reason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeleteLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[FacultyID] [int] NOT NULL,
	[HeadID] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[ImagePath] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DifficultyLevels]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DifficultyLevels](
	[LevelID] [int] IDENTITY(1,1) NOT NULL,
	[LevelName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamAnswers]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamAnswers](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[ResultID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[StudentAnswer] [nvarchar](max) NOT NULL,
	[IsCorrect] [bit] NULL,
	[QuestionScore] [decimal](5, 2) NULL,
	[AnswerTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamQuestions]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamQuestions](
	[ExamID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[QuestionOrder] [int] NULL,
	[QuestionScore] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC,
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamResults]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamResults](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[ExamID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[Score] [decimal](5, 2) NULL,
	[TotalScore] [decimal](5, 2) NOT NULL,
	[CompletedAt] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[AttemptNumber] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[TotalQuestions] [int] NOT NULL,
	[Duration] [int] NOT NULL,
	[MaxScore] [decimal](5, 2) NOT NULL,
	[Conditions] [nvarchar](max) NULL,
	[IsPublished] [bit] NULL,
	[AllowMultipleAttempts] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculties]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculties](
	[FacultyID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[DeanID] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[ImagePath] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[FacultyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacultyInstructors]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacultyInstructors](
	[FacultyInstructorID] [int] IDENTITY(1,1) NOT NULL,
	[FacultyID] [int] NOT NULL,
	[InstructorID] [int] NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FacultyInstructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LessonFiles]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonFiles](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[LessonID] [int] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileSize] [int] NULL,
	[FileType] [nvarchar](50) NULL,
	[MIMEType] [nvarchar](100) NULL,
	[Checksum] [nvarchar](64) NULL,
	[FileVersion] [int] NULL,
	[Description] [nvarchar](255) NULL,
	[UploadedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Week] [int] NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[Duration] [int] NULL,
	[IsPublished] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[SenderID] [int] NOT NULL,
	[ReceiverID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](20) NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionBank]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionBank](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Answer] [nvarchar](max) NOT NULL,
	[MaxScore] [decimal](5, 2) NULL,
	[DifficultyID] [int] NULL,
	[Options] [nvarchar](max) NULL,
	[Explanation] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleID] [int] NOT NULL,
	[PermissionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[LessonID] [int] NULL,
	[DayOfWeek] [nvarchar](10) NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Room] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentGrades]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentGrades](
	[GradeID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
	[FinalScore] [decimal](5, 2) NULL,
	[GradeLetter] [nvarchar](5) NULL,
	[CalculatedAt] [datetime] NULL,
	[Status] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[SubmissionID] [int] IDENTITY(1,1) NOT NULL,
	[AssignmentID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[MIMEType] [nvarchar](100) NULL,
	[Checksum] [nvarchar](64) NULL,
	[SubmittedAt] [datetime] NULL,
	[Score] [decimal](5, 2) NULL,
	[Feedback] [nvarchar](max) NULL,
	[AttemptNumber] [int] NULL,
	[Status] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubmissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConfig]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfig](
	[ConfigID] [int] IDENTITY(1,1) NOT NULL,
	[ConfigKey] [nvarchar](100) NOT NULL,
	[ConfigValue] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConfigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/28/2025 2:58:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[MSSV_MGV] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleID] [int] NULL,
	[Status] [nvarchar](10) NULL,
	[FacultyID] [int] NULL,
	[DepartmentID] [int] NULL,
	[StudentClass] [nvarchar](20) NULL,
	[Phone] [nvarchar](15) NULL,
	[Avatar] [nvarchar](255) NULL,
	[LastLogin] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Assignments] ON 

INSERT [dbo].[Assignments] ([AssignmentID], [ClassID], [Title], [Description], [FilePath], [DueDate], [MaxScore], [MaxAttempts], [AllowLateSubmission], [LatePenalty], [Weightage], [IsPublished], [CreatedAt], [DeletedAt]) VALUES (1, 1, N'Bài tập 1: Hello World', N'Viết chương trình in ra màn hình "Hello World"', NULL, CAST(N'2024-09-15T23:59:59.000' AS DateTime), 10, 3, 0, CAST(0.00 AS Decimal(5, 2)), CAST(1.00 AS Decimal(5, 2)), 1, CAST(N'2025-11-27T16:30:49.303' AS DateTime), NULL)
INSERT [dbo].[Assignments] ([AssignmentID], [ClassID], [Title], [Description], [FilePath], [DueDate], [MaxScore], [MaxAttempts], [AllowLateSubmission], [LatePenalty], [Weightage], [IsPublished], [CreatedAt], [DeletedAt]) VALUES (2, 1, N'Bài tập 2: Tính tổng hai số', N'Nhập hai số và tính tổng', NULL, CAST(N'2024-09-22T23:59:59.000' AS DateTime), 15, 2, 0, CAST(0.00 AS Decimal(5, 2)), CAST(1.00 AS Decimal(5, 2)), 1, CAST(N'2025-11-27T16:30:49.303' AS DateTime), NULL)
INSERT [dbo].[Assignments] ([AssignmentID], [ClassID], [Title], [Description], [FilePath], [DueDate], [MaxScore], [MaxAttempts], [AllowLateSubmission], [LatePenalty], [Weightage], [IsPublished], [CreatedAt], [DeletedAt]) VALUES (3, 1, N'Bài tập 3: Kiểm tra số chẵn lẻ', N'Kiểm tra một số là chẵn hay lẻ', NULL, CAST(N'2024-09-29T23:59:59.000' AS DateTime), 20, 2, 0, CAST(0.00 AS Decimal(5, 2)), CAST(1.00 AS Decimal(5, 2)), 1, CAST(N'2025-11-27T16:30:49.303' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Assignments] OFF
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([ClassID], [Name], [Code], [CourseID], [InstructorID], [MaxStudents], [CurrentStudents], [StartDate], [EndDate], [IsActive], [CreatedAt], [DeletedAt]) VALUES (1, N'Lớp Lập trình căn bản - A1', N'CNPM001_A1', 1, 2, 30, 4, CAST(N'2024-09-01' AS Date), CAST(N'2024-12-15' AS Date), 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL)
INSERT [dbo].[Classes] ([ClassID], [Name], [Code], [CourseID], [InstructorID], [MaxStudents], [CurrentStudents], [StartDate], [EndDate], [IsActive], [CreatedAt], [DeletedAt]) VALUES (2, N'Lớp Lập trình căn bản - A2', N'CNPM001_A2', 1, 2, 30, 4, CAST(N'2024-09-01' AS Date), CAST(N'2024-12-15' AS Date), 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL)
INSERT [dbo].[Classes] ([ClassID], [Name], [Code], [CourseID], [InstructorID], [MaxStudents], [CurrentStudents], [StartDate], [EndDate], [IsActive], [CreatedAt], [DeletedAt]) VALUES (3, N'Lớp CTDL & GT - B1', N'CNPM002_B1', 2, 2, 25, 3, CAST(N'2024-09-01' AS Date), CAST(N'2024-12-15' AS Date), 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
INSERT [dbo].[ClassStudents] ([ClassID], [StudentID], [EnrollDate], [Status]) VALUES (1, 7, CAST(N'2024-09-01T00:00:00.000' AS DateTime), N'Active')
INSERT [dbo].[ClassStudents] ([ClassID], [StudentID], [EnrollDate], [Status]) VALUES (1, 8, CAST(N'2024-09-01T00:00:00.000' AS DateTime), N'Active')
INSERT [dbo].[ClassStudents] ([ClassID], [StudentID], [EnrollDate], [Status]) VALUES (1, 9, CAST(N'2024-09-01T00:00:00.000' AS DateTime), N'Active')
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [Code], [Name], [Description], [Objectives], [Credits], [Duration], [Prerequisites], [FacultyID], [LeadInstructorID], [AcademicYear], [Semester], [IsActive], [CreatedAt], [DeletedAt]) VALUES (1, N'CNPM001', N'Lập trình căn bản', N'Môn học cung cấp kiến thức nền tảng về lập trình', N'Sinh viên nắm được các khái niệm cơ bản về lập trình', 3, 45, N'Không', 1, 2, N'2024-2025', N'HK1', 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL)
INSERT [dbo].[Courses] ([CourseID], [Code], [Name], [Description], [Objectives], [Credits], [Duration], [Prerequisites], [FacultyID], [LeadInstructorID], [AcademicYear], [Semester], [IsActive], [CreatedAt], [DeletedAt]) VALUES (2, N'CNPM002', N'Cấu trúc dữ liệu và giải thuật', N'Môn học về cấu trúc dữ liệu và các thuật toán cơ bản', N'Hiểu và ứng dụng được các cấu trúc dữ liệu', 4, 60, N'Lập trình căn bản', 1, 2, N'2024-2025', N'HK1', 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL)
INSERT [dbo].[Courses] ([CourseID], [Code], [Name], [Description], [Objectives], [Credits], [Duration], [Prerequisites], [FacultyID], [LeadInstructorID], [AcademicYear], [Semester], [IsActive], [CreatedAt], [DeletedAt]) VALUES (3, N'CNPM003', N'Cơ sở dữ liệu', N'Môn học về thiết kế và quản lý cơ sở dữ liệu', N'Thiết kế và quản lý được CSDL quan hệ', 3, 45, N'Không', 1, 4, N'2024-2025', N'HK1', 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [Code], [Name], [Description], [FacultyID], [HeadID], [IsActive], [CreatedAt], [DeletedAt], [ImagePath]) VALUES (1, N'CNPM', N'Bộ môn Công nghệ Phần mềm', N'Chuyên về phát triển phần mềm và ứng dụng', 1, NULL, 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, N'/images/Department/01-KTTC.png')
INSERT [dbo].[Departments] ([DepartmentID], [Code], [Name], [Description], [FacultyID], [HeadID], [IsActive], [CreatedAt], [DeletedAt], [ImagePath]) VALUES (2, N'HTTT', N'Bộ môn Hệ thống Thông tin', N'Chuyên về quản lý và phân tích hệ thống thông tin', 1, NULL, 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, N'/images/Department/01-KTTC.png')
INSERT [dbo].[Departments] ([DepartmentID], [Code], [Name], [Description], [FacultyID], [HeadID], [IsActive], [CreatedAt], [DeletedAt], [ImagePath]) VALUES (3, N'KTMT', N'Bộ môn Kỹ thuật Máy tính', N'Chuyên về phần cứng và kiến trúc máy tính', 1, NULL, 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, N'/images/Department/01-KTTC.png')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Faculties] ON 

INSERT [dbo].[Faculties] ([FacultyID], [Code], [Name], [Description], [DeanID], [IsActive], [CreatedAt], [DeletedAt], [ImagePath]) VALUES (1, N'CNTT', N'Khoa Công nghệ Thông tin', N'Khoa đào tạo về công nghệ thông tin và khoa học máy tính', NULL, 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, N'/images/Faculties/01-KTTC.png')
INSERT [dbo].[Faculties] ([FacultyID], [Code], [Name], [Description], [DeanID], [IsActive], [CreatedAt], [DeletedAt], [ImagePath]) VALUES (2, N'KINH_TE', N'Khoa Kinh tế', N'Khoa đào tạo về kinh tế và quản trị kinh doanh', NULL, 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, N'/images/Faculties/03-KTCN.png')
INSERT [dbo].[Faculties] ([FacultyID], [Code], [Name], [Description], [DeanID], [IsActive], [CreatedAt], [DeletedAt], [ImagePath]) VALUES (3, N'NGOAI_NGU', N'Khoa Ngoại ngữ', N'Khoa đào tạo về ngôn ngữ và văn hóa quốc tế', NULL, 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, N'/images/Faculties/04-NGNG.png')
SET IDENTITY_INSERT [dbo].[Faculties] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [SenderID], [ReceiverID], [Title], [Content], [Type], [IsRead], [CreatedAt]) VALUES (1, 2, 7, N'Bài tập mới', N'Đã có bài tập mới trong môn Lập trình căn bản', N'Assignment', 0, CAST(N'2025-11-27T16:30:49.307' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [SenderID], [ReceiverID], [Title], [Content], [Type], [IsRead], [CreatedAt]) VALUES (2, 2, 8, N'Bài tập mới', N'Đã có bài tập mới trong môn Lập trình căn bản', N'Assignment', 1, CAST(N'2025-11-27T16:30:49.307' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [SenderID], [ReceiverID], [Title], [Content], [Type], [IsRead], [CreatedAt]) VALUES (3, 1, 2, N'Thông báo hệ thống', N'Hệ thống sẽ bảo trì vào cuối tuần', N'System', 0, CAST(N'2025-11-27T16:30:49.307' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'Quản trị viên hệ thống')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (2, N'DepartmentAdmin', N'Quản trị khoa')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (3, N'Teacher', N'Giảng viên')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Submissions] ON 

INSERT [dbo].[Submissions] ([SubmissionID], [AssignmentID], [StudentID], [FilePath], [FileName], [MIMEType], [Checksum], [SubmittedAt], [Score], [Feedback], [AttemptNumber], [Status]) VALUES (1, 1, 7, N'/uploads/assignments/1/HelloWorld_SV001.txt', N'HelloWorld_SV001.txt', N'text/plain', NULL, CAST(N'2025-11-27T16:30:49.303' AS DateTime), CAST(10.00 AS Decimal(5, 2)), N'Hoàn thành tốt!', 1, N'Graded')
INSERT [dbo].[Submissions] ([SubmissionID], [AssignmentID], [StudentID], [FilePath], [FileName], [MIMEType], [Checksum], [SubmittedAt], [Score], [Feedback], [AttemptNumber], [Status]) VALUES (2, 1, 8, N'/uploads/assignments/1/HelloWorld_SV002.txt', N'HelloWorld_SV002.txt', N'text/plain', NULL, CAST(N'2025-11-27T16:30:49.303' AS DateTime), CAST(9.00 AS Decimal(5, 2)), N'Tốt, nhưng thiếu comment', 1, N'Graded')
INSERT [dbo].[Submissions] ([SubmissionID], [AssignmentID], [StudentID], [FilePath], [FileName], [MIMEType], [Checksum], [SubmittedAt], [Score], [Feedback], [AttemptNumber], [Status]) VALUES (3, 2, 7, N'/uploads/assignments/2/TinhTong_SV001.cpp', N'TinhTong_SV001.cpp', N'text/x-c++src', NULL, CAST(N'2025-11-27T16:30:49.303' AS DateTime), CAST(14.00 AS Decimal(5, 2)), N'Chương trình chạy đúng', 1, N'Graded')
SET IDENTITY_INSERT [dbo].[Submissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [MSSV_MGV], [FullName], [Email], [PasswordHash], [RoleID], [Status], [FacultyID], [DepartmentID], [StudentClass], [Phone], [Avatar], [LastLogin], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (1, N'ADMIN001', N'Nguyễn Văn Admin', N'admin@lms.edu.vn', N'hashed_password_123', 1, N'Active', NULL, NULL, NULL, N'0901234567', NULL, NULL, CAST(N'2025-11-27T16:30:49.300' AS DateTime), CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL)
INSERT [dbo].[Users] ([UserID], [MSSV_MGV], [FullName], [Email], [PasswordHash], [RoleID], [Status], [FacultyID], [DepartmentID], [StudentClass], [Phone], [Avatar], [LastLogin], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (2, N'GV001', N'Nguyễn Thị Hoa', N'hoa.nguyen@lms.edu.vn', N'hashed_password_123', 3, N'Active', 1, 1, NULL, N'0902111111', NULL, NULL, CAST(N'2025-11-27T16:30:49.300' AS DateTime), CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL)
INSERT [dbo].[Users] ([UserID], [MSSV_MGV], [FullName], [Email], [PasswordHash], [RoleID], [Status], [FacultyID], [DepartmentID], [StudentClass], [Phone], [Avatar], [LastLogin], [CreatedAt], [UpdatedAt], [DeletedAt]) VALUES (3, N'GV002', N'Trần Văn Nam', N'nam.tran@lms.edu.vn', N'hashed_password_123', 3, N'Active', 1, 1, NULL, N'0902222222', NULL, NULL, CAST(N'2025-11-27T16:30:49.300' AS DateTime), CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Courses__A25C5AA7F9DA4DD4]    Script Date: 11/28/2025 2:58:34 PM ******/
ALTER TABLE [dbo].[Courses] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__A25C5AA7FC31F002]    Script Date: 11/28/2025 2:58:34 PM ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Difficul__9EF3BE7B5B3B3C08]    Script Date: 11/28/2025 2:58:34 PM ******/
ALTER TABLE [dbo].[DifficultyLevels] ADD UNIQUE NONCLUSTERED 
(
	[LevelName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Facultie__A25C5AA78F0D15FE]    Script Date: 11/28/2025 2:58:34 PM ******/
ALTER TABLE [dbo].[Faculties] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_FacultyInstructor]    Script Date: 11/28/2025 2:58:34 PM ******/
ALTER TABLE [dbo].[FacultyInstructors] ADD  CONSTRAINT [UQ_FacultyInstructor] UNIQUE NONCLUSTERED 
(
	[FacultyID] ASC,
	[InstructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__0FFDA357E708918C]    Script Date: 11/28/2025 2:58:34 PM ******/
ALTER TABLE [dbo].[Permissions] ADD UNIQUE NONCLUSTERED 
(
	[PermissionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160ABCB17ED]    Script Date: 11/28/2025 2:58:34 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__StudentG__2E74B80242C32711]    Script Date: 11/28/2025 2:58:34 PM ******/
ALTER TABLE [dbo].[StudentGrades] ADD UNIQUE NONCLUSTERED 
(
	[StudentID] ASC,
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SystemCo__4A30678453683CFB]    Script Date: 11/28/2025 2:58:34 PM ******/
ALTER TABLE [dbo].[SystemConfig] ADD UNIQUE NONCLUSTERED 
(
	[ConfigKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105345CA2C531]    Script Date: 11/28/2025 2:58:34 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__EF82EA0678B2B854]    Script Date: 11/28/2025 2:58:34 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[MSSV_MGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((100)) FOR [MaxScore]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((1)) FOR [MaxAttempts]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((0)) FOR [AllowLateSubmission]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((0)) FOR [LatePenalty]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((1.00)) FOR [Weightage]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT ((100)) FOR [MaxStudents]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT ((0)) FOR [CurrentStudents]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ClassStudents] ADD  DEFAULT (getdate()) FOR [EnrollDate]
GO
ALTER TABLE [dbo].[ClassStudents] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DeleteLogs] ADD  DEFAULT (getdate()) FOR [DeletedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ExamAnswers] ADD  DEFAULT ((0)) FOR [IsCorrect]
GO
ALTER TABLE [dbo].[ExamAnswers] ADD  DEFAULT ((0)) FOR [QuestionScore]
GO
ALTER TABLE [dbo].[ExamAnswers] ADD  DEFAULT (getdate()) FOR [AnswerTime]
GO
ALTER TABLE [dbo].[ExamQuestions] ADD  DEFAULT ((0)) FOR [QuestionOrder]
GO
ALTER TABLE [dbo].[ExamQuestions] ADD  DEFAULT ((1.00)) FOR [QuestionScore]
GO
ALTER TABLE [dbo].[ExamResults] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ExamResults] ADD  DEFAULT ((1)) FOR [AttemptNumber]
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT ((0)) FOR [AllowMultipleAttempts]
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Faculties] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Faculties] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FacultyInstructors] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FacultyInstructors] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LessonFiles] ADD  DEFAULT ((1)) FOR [FileVersion]
GO
ALTER TABLE [dbo].[LessonFiles] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('General') FOR [Type]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[QuestionBank] ADD  DEFAULT ((1.00)) FOR [MaxScore]
GO
ALTER TABLE [dbo].[QuestionBank] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Schedules] ADD  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[Schedules] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StudentGrades] ADD  DEFAULT (getdate()) FOR [CalculatedAt]
GO
ALTER TABLE [dbo].[StudentGrades] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT ((1)) FOR [AttemptNumber]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[SystemConfig] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ClassStudents]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[ClassStudents]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([FacultyID])
REFERENCES [dbo].[Faculties] ([FacultyID])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([LeadInstructorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DeleteLogs]  WITH CHECK ADD FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD FOREIGN KEY([FacultyID])
REFERENCES [dbo].[Faculties] ([FacultyID])
GO
ALTER TABLE [dbo].[ExamAnswers]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[QuestionBank] ([QuestionID])
GO
ALTER TABLE [dbo].[ExamAnswers]  WITH CHECK ADD FOREIGN KEY([ResultID])
REFERENCES [dbo].[ExamResults] ([ResultID])
GO
ALTER TABLE [dbo].[ExamQuestions]  WITH CHECK ADD FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[ExamQuestions]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[QuestionBank] ([QuestionID])
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[FacultyInstructors]  WITH CHECK ADD FOREIGN KEY([FacultyID])
REFERENCES [dbo].[Faculties] ([FacultyID])
GO
ALTER TABLE [dbo].[FacultyInstructors]  WITH CHECK ADD FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[LessonFiles]  WITH CHECK ADD FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lessons] ([LessonID])
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([ReceiverID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([SenderID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[QuestionBank]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[QuestionBank]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[QuestionBank]  WITH CHECK ADD FOREIGN KEY([DifficultyID])
REFERENCES [dbo].[DifficultyLevels] ([LevelID])
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([PermissionID])
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lessons] ([LessonID])
GO
ALTER TABLE [dbo].[StudentGrades]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[StudentGrades]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD FOREIGN KEY([AssignmentID])
REFERENCES [dbo].[Assignments] ([AssignmentID])
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([FacultyID])
REFERENCES [dbo].[Faculties] ([FacultyID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[ClassStudents]  WITH CHECK ADD CHECK  (([Status]='Dropped' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD CHECK  (([Status]='InProgress' OR [Status]='Missed' OR [Status]='Completed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD CHECK  (([Type]='General' OR [Type]='Grade' OR [Type]='Exam' OR [Type]='Assignment' OR [Type]='System'))
GO
ALTER TABLE [dbo].[QuestionBank]  WITH CHECK ADD CHECK  (([Type]='TuLuan' OR [Type]='TracNghiem'))
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD CHECK  (([DayOfWeek]='Sunday' OR [DayOfWeek]='Saturday' OR [DayOfWeek]='Friday' OR [DayOfWeek]='Thursday' OR [DayOfWeek]='Wednesday' OR [DayOfWeek]='Tuesday' OR [DayOfWeek]='Monday'))
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Scheduled'))
GO
ALTER TABLE [dbo].[StudentGrades]  WITH CHECK ADD CHECK  (([Status]='Finalized' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD CHECK  (([Status]='Late' OR [Status]='Graded' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Status]='Locked' OR [Status]='Active'))
GO
