USE [LMS_System]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ActivityLogs]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Action] [nvarchar](100) NOT NULL,
	[TableName] [nvarchar](50) NULL,
	[RecordID] [int] NULL,
	[OldValues] [nvarchar](max) NULL,
	[NewValues] [nvarchar](max) NULL,
	[IPAddress] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdministrativeClasses]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdministrativeClasses](
	[AdministrativeClassID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[FacultyID] [int] NOT NULL,
	[DepartmentID] [int] NULL,
	[AcademicYear] [nvarchar](20) NOT NULL,
	[Intake] [nvarchar](20) NULL,
	[MaxStudents] [int] NULL,
	[CurrentStudents] [int] NULL,
	[AdvisorID] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
 CONSTRAINT [PK__AdministrativeClasses] PRIMARY KEY CLUSTERED 
(
	[AdministrativeClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Assignments]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assignments](
	[AssignmentID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[FilePath] [nvarchar](500) NULL,
	[DueDate] [datetime] NOT NULL,
	[MaxScore] [int] NOT NULL,
	[MaxAttempts] [int] NULL,
	[AllowLateSubmission] [bit] NULL,
	[LatePenalty] [decimal](5, 2) NULL,
	[Weightage] [decimal](5, 2) NULL,
	[IsPublished] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[AttachmentName] [nvarchar](max) NULL,
	[AttachmentPath] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[LessonId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AssignmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AttendanceRecords]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AttendanceRecords](
	[RecordId] [int] IDENTITY(1,1) NOT NULL,
	[AttendanceId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CheckInTime] [datetime] NULL,
	[CheckInMethod] [nvarchar](20) NULL,
	[Note] [nvarchar](500) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__Attendan__FBDF78C9] PRIMARY KEY CLUSTERED 
(
	[RecordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendances]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendances](
	[AttendanceId] [int] IDENTITY(1,1) NOT NULL,
	[ClassId] [int] NOT NULL,
	[LessonId] [int] NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[AttendanceCode] [nvarchar](6) NULL,
	[AllowCodeAttendance] [bit] NOT NULL,
	[AutoClose] [bit] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ClosedAt] [datetime] NULL,
 CONSTRAINT [PK__Attendan__8B69263C] PRIMARY KEY CLUSTERED 
(
	[AttendanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[CourseID] [int] NOT NULL,
	[InstructorID] [int] NOT NULL,
	[MaxStudents] [int] NULL,
	[CurrentStudents] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[Objectives] [nvarchar](max) NULL,
	[IntroVideoUrl] [nvarchar](max) NULL,
	[SlidesUrl] [nvarchar](max) NULL,
	[LectureVideoUrl] [nvarchar](max) NULL,
	[MissionTitle] [nvarchar](max) NULL,
	[DayOfWeek] [nvarchar](max) NULL,
	[EndTime] [time](7) NULL,
	[Semester] [nvarchar](max) NULL,
	[Session] [nvarchar](max) NULL,
	[StartTime] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClassStudents]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassStudents](
	[ClassID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[EnrollDate] [datetime] NULL,
	[Status] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC,
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[Objectives] [nvarchar](max) NULL,
	[Credits] [int] NOT NULL,
	[Duration] [int] NOT NULL,
	[Prerequisites] [nvarchar](max) NULL,
	[FacultyID] [int] NOT NULL,
	[LeadInstructorID] [int] NOT NULL,
	[AcademicYear] [nvarchar](20) NOT NULL,
	[Semester] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeleteLogs]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeleteLogs](
	[DeleteLogID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [nvarchar](50) NOT NULL,
	[RecordID] [int] NOT NULL,
	[DeletedBy] [int] NOT NULL,
	[DeletedAt] [datetime] NULL,
	[Reason] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeleteLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[FacultyID] [int] NOT NULL,
	[HeadID] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[ImagePath] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DifficultyLevels]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DifficultyLevels](
	[LevelID] [int] IDENTITY(1,1) NOT NULL,
	[LevelName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamAnswers]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamAnswers](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[ResultID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[StudentAnswer] [nvarchar](max) NOT NULL,
	[IsCorrect] [bit] NULL,
	[QuestionScore] [decimal](5, 2) NULL,
	[AnswerTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamQuestions]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamQuestions](
	[ExamID] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[QuestionOrder] [int] NULL,
	[QuestionScore] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC,
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExamResults]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamResults](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[ExamID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[Score] [decimal](5, 2) NULL,
	[TotalScore] [decimal](5, 2) NOT NULL,
	[CompletedAt] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[AttemptNumber] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NOT NULL,
	[TotalQuestions] [int] NOT NULL,
	[Duration] [int] NOT NULL,
	[MaxScore] [decimal](5, 2) NOT NULL,
	[Conditions] [nvarchar](max) NULL,
	[IsPublished] [bit] NULL,
	[AllowMultipleAttempts] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[CreatedBy] [int] NULL,
	[LessonId] [int] NULL,
	[MaxAttempts] [int] NULL,
	[ShowAnswers] [bit] NULL,
	[ShowScore] [bit] NULL,
	[ShowSubmission] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculties]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculties](
	[FacultyID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[DeanID] [int] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[ImagePath] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[FacultyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FacultyInstructors]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FacultyInstructors](
	[FacultyInstructorID] [int] IDENTITY(1,1) NOT NULL,
	[FacultyID] [int] NOT NULL,
	[InstructorID] [int] NOT NULL,
	[Position] [nvarchar](50) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
	[IsActive] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FacultyInstructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LessonFiles]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LessonFiles](
	[FileID] [int] IDENTITY(1,1) NOT NULL,
	[LessonID] [int] NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileSize] [int] NULL,
	[FileType] [nvarchar](50) NULL,
	[MIMEType] [nvarchar](100) NULL,
	[Checksum] [nvarchar](64) NULL,
	[FileVersion] [int] NULL,
	[Description] [nvarchar](255) NULL,
	[UploadedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lessons]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lessons](
	[LessonID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Week] [int] NOT NULL,
	[OrderNumber] [int] NOT NULL,
	[Duration] [int] NULL,
	[IsPublished] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[VideoUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LessonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[SenderID] [int] NOT NULL,
	[ReceiverID] [int] NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](20) NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionBank]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionBank](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[CourseID] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](20) NOT NULL,
	[Answer] [nvarchar](max) NOT NULL,
	[MaxScore] [decimal](5, 2) NULL,
	[DifficultyID] [int] NULL,
	[Options] [nvarchar](max) NULL,
	[Explanation] [nvarchar](max) NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[DeletedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleID] [int] NOT NULL,
	[PermissionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedules]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedules](
	[ScheduleID] [int] IDENTITY(1,1) NOT NULL,
	[ClassID] [int] NOT NULL,
	[LessonID] [int] NULL,
	[DayOfWeek] [nvarchar](10) NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Room] [nvarchar](50) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentGrades]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentGrades](
	[GradeID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[ClassID] [int] NOT NULL,
	[FinalScore] [decimal](5, 2) NULL,
	[GradeLetter] [nvarchar](5) NULL,
	[CalculatedAt] [datetime] NULL,
	[Status] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[GradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Submissions]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Submissions](
	[SubmissionID] [int] IDENTITY(1,1) NOT NULL,
	[AssignmentID] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[MIMEType] [nvarchar](100) NULL,
	[Checksum] [nvarchar](64) NULL,
	[SubmittedAt] [datetime] NULL,
	[Score] [decimal](5, 2) NULL,
	[Feedback] [nvarchar](max) NULL,
	[AttemptNumber] [int] NULL,
	[Status] [nvarchar](10) NULL,
	[GradedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[SubmissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemConfig]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemConfig](
	[ConfigID] [int] IDENTITY(1,1) NOT NULL,
	[ConfigKey] [nvarchar](100) NOT NULL,
	[ConfigValue] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ConfigID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 12/22/2025 9:15:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[MSSV_MGV] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[RoleID] [int] NULL,
	[Status] [nvarchar](10) NULL,
	[FacultyID] [int] NULL,
	[DepartmentID] [int] NULL,
	[StudentClass] [nvarchar](20) NULL,
	[Phone] [nvarchar](15) NULL,
	[Avatar] [nvarchar](255) NULL,
	[LastLogin] [datetime] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[DeletedAt] [datetime] NULL,
	[AdministrativeClassID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251128052530_AddImagePathToDepartments', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251205154713_AddCreatedByAndOtherFields', N'8.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251217153950_AddDescriptionObjectivesToClass', N'8.0.0')
GO
SET IDENTITY_INSERT [dbo].[AdministrativeClasses] ON 

INSERT [dbo].[AdministrativeClasses] ([AdministrativeClassID], [Code], [Name], [FacultyID], [DepartmentID], [AcademicYear], [Intake], [MaxStudents], [CurrentStudents], [AdvisorID], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [DeletedAt]) VALUES (1, N'CNTT2021A', N'Lớp Công Nghệ Thông Tin K21CNTT01', 1, 1, N'2021-2022', N'K21', 40, 3, NULL, 1, CAST(N'2025-12-09T23:17:18.767' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[AdministrativeClasses] ([AdministrativeClassID], [Code], [Name], [FacultyID], [DepartmentID], [AcademicYear], [Intake], [MaxStudents], [CurrentStudents], [AdvisorID], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [DeletedAt]) VALUES (2, N'CNTT2021B', N'Lớp Công Nghệ Thông Tin K21CNTT02', 1, 1, N'2021-2022', N'K21', 40, 2, NULL, 1, CAST(N'2025-12-09T23:17:18.770' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[AdministrativeClasses] ([AdministrativeClassID], [Code], [Name], [FacultyID], [DepartmentID], [AcademicYear], [Intake], [MaxStudents], [CurrentStudents], [AdvisorID], [IsActive], [CreatedAt], [CreatedBy], [UpdatedAt], [DeletedAt]) VALUES (3, N'CNTT2022A', N'Lớp Công Nghệ Thông Tin K21CNTT03', 1, 1, N'2022-2023', N'K22', 40, 3, NULL, 1, CAST(N'2025-12-09T23:17:18.773' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[AdministrativeClasses] OFF
GO
SET IDENTITY_INSERT [dbo].[Assignments] ON 

INSERT [dbo].[Assignments] ([AssignmentID], [ClassID], [Title], [Description], [FilePath], [DueDate], [MaxScore], [MaxAttempts], [AllowLateSubmission], [LatePenalty], [Weightage], [IsPublished], [CreatedAt], [DeletedAt], [AttachmentName], [AttachmentPath], [CreatedBy], [IsActive], [LessonId]) VALUES (1, 1, N'Bài tập 1: Hello World', N'Viết chương trình in ra màn hình "Hello World"', NULL, CAST(N'2024-09-15T23:59:59.000' AS DateTime), 10, 3, 0, CAST(0.00 AS Decimal(5, 2)), CAST(1.00 AS Decimal(5, 2)), 1, CAST(N'2025-11-27T16:30:49.303' AS DateTime), NULL, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[Assignments] ([AssignmentID], [ClassID], [Title], [Description], [FilePath], [DueDate], [MaxScore], [MaxAttempts], [AllowLateSubmission], [LatePenalty], [Weightage], [IsPublished], [CreatedAt], [DeletedAt], [AttachmentName], [AttachmentPath], [CreatedBy], [IsActive], [LessonId]) VALUES (2, 1, N'Bài tập 2: Tính tổng hai số', N'Nhập hai số và tính tổng', NULL, CAST(N'2024-09-22T23:59:59.000' AS DateTime), 15, 2, 0, CAST(0.00 AS Decimal(5, 2)), CAST(1.00 AS Decimal(5, 2)), 1, CAST(N'2025-11-27T16:30:49.303' AS DateTime), NULL, NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[Assignments] ([AssignmentID], [ClassID], [Title], [Description], [FilePath], [DueDate], [MaxScore], [MaxAttempts], [AllowLateSubmission], [LatePenalty], [Weightage], [IsPublished], [CreatedAt], [DeletedAt], [AttachmentName], [AttachmentPath], [CreatedBy], [IsActive], [LessonId]) VALUES (3, 1, N'Bài tập 3: Kiểm tra số chẵn lẻ', N'Kiểm tra một số là chẵn hay lẻ', NULL, CAST(N'2024-09-29T23:59:59.000' AS DateTime), 20, 2, 0, CAST(0.00 AS Decimal(5, 2)), CAST(1.00 AS Decimal(5, 2)), 1, CAST(N'2025-11-27T16:30:49.303' AS DateTime), NULL, NULL, NULL, NULL, 1, NULL)
SET IDENTITY_INSERT [dbo].[Assignments] OFF
GO
SET IDENTITY_INSERT [dbo].[AttendanceRecords] ON 

INSERT [dbo].[AttendanceRecords] ([RecordId], [AttendanceId], [StudentId], [Status], [CheckInTime], [CheckInMethod], [Note], [UpdatedAt]) VALUES (55, 7, 7, N'Present', CAST(N'2025-12-21T23:02:15.187' AS DateTime), N'Manual', NULL, CAST(N'2025-12-21T23:02:15.187' AS DateTime))
INSERT [dbo].[AttendanceRecords] ([RecordId], [AttendanceId], [StudentId], [Status], [CheckInTime], [CheckInMethod], [Note], [UpdatedAt]) VALUES (56, 7, 8, N'Present', CAST(N'2025-12-21T23:02:15.190' AS DateTime), N'Manual', NULL, CAST(N'2025-12-21T23:02:15.190' AS DateTime))
INSERT [dbo].[AttendanceRecords] ([RecordId], [AttendanceId], [StudentId], [Status], [CheckInTime], [CheckInMethod], [Note], [UpdatedAt]) VALUES (57, 7, 9, N'Present', CAST(N'2025-12-21T23:02:15.187' AS DateTime), N'Manual', NULL, CAST(N'2025-12-21T23:02:15.187' AS DateTime))
SET IDENTITY_INSERT [dbo].[AttendanceRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[Attendances] ON 

INSERT [dbo].[Attendances] ([AttendanceId], [ClassId], [LessonId], [Title], [Description], [StartTime], [EndTime], [AttendanceCode], [AllowCodeAttendance], [AutoClose], [Status], [CreatedBy], [CreatedAt], [ClosedAt]) VALUES (7, 7, 20, N'Điểm Danh', NULL, CAST(N'2025-12-21T15:56:00.000' AS DateTime), CAST(N'2025-12-21T17:56:00.000' AS DateTime), N'Z9RMH8', 1, 1, N'Open', 28, CAST(N'2025-12-21T22:57:17.397' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Attendances] OFF
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([ClassID], [Name], [Code], [CourseID], [InstructorID], [MaxStudents], [CurrentStudents], [StartDate], [EndDate], [IsActive], [CreatedAt], [DeletedAt], [Description], [Objectives], [IntroVideoUrl], [SlidesUrl], [LectureVideoUrl], [MissionTitle], [DayOfWeek], [EndTime], [Semester], [Session], [StartTime]) VALUES (1, N'Lớp Lập trình căn bản - A1', N'CNPM001_A1', 1, 2, 30, 4, CAST(N'2024-09-01' AS Date), CAST(N'2024-12-15' AS Date), 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Classes] ([ClassID], [Name], [Code], [CourseID], [InstructorID], [MaxStudents], [CurrentStudents], [StartDate], [EndDate], [IsActive], [CreatedAt], [DeletedAt], [Description], [Objectives], [IntroVideoUrl], [SlidesUrl], [LectureVideoUrl], [MissionTitle], [DayOfWeek], [EndTime], [Semester], [Session], [StartTime]) VALUES (2, N'Lớp Lập trình căn bản - A2', N'CNPM001_A2', 1, 2, 30, 4, CAST(N'2024-09-01' AS Date), CAST(N'2024-12-15' AS Date), 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Classes] ([ClassID], [Name], [Code], [CourseID], [InstructorID], [MaxStudents], [CurrentStudents], [StartDate], [EndDate], [IsActive], [CreatedAt], [DeletedAt], [Description], [Objectives], [IntroVideoUrl], [SlidesUrl], [LectureVideoUrl], [MissionTitle], [DayOfWeek], [EndTime], [Semester], [Session], [StartTime]) VALUES (3, N'Lớp CTDL & GT - B1', N'CNPM002_B1', 2, 2, 25, 3, CAST(N'2024-09-01' AS Date), CAST(N'2024-12-15' AS Date), 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
INSERT [dbo].[ClassStudents] ([ClassID], [StudentID], [EnrollDate], [Status]) VALUES (1, 7, CAST(N'2024-09-01T00:00:00.000' AS DateTime), N'Active')
INSERT [dbo].[ClassStudents] ([ClassID], [StudentID], [EnrollDate], [Status]) VALUES (1, 8, CAST(N'2024-09-01T00:00:00.000' AS DateTime), N'Active')
INSERT [dbo].[ClassStudents] ([ClassID], [StudentID], [EnrollDate], [Status]) VALUES (1, 9, CAST(N'2024-09-01T00:00:00.000' AS DateTime), N'Active')
GO
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseID], [Code], [Name], [Description], [Objectives], [Credits], [Duration], [Prerequisites], [FacultyID], [LeadInstructorID], [AcademicYear], [Semester], [IsActive], [CreatedAt], [DeletedAt]) VALUES (1, N'CNPM001', N'Lập trình căn bản', N'Môn học cung cấp kiến thức nền tảng về lập trình', N'Sinh viên nắm được các khái niệm cơ bản về lập trình', 3, 45, N'Không', 1, 2, N'2024-2025', N'HK1', 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL)
INSERT [dbo].[Courses] ([CourseID], [Code], [Name], [Description], [Objectives], [Credits], [Duration], [Prerequisites], [FacultyID], [LeadInstructorID], [AcademicYear], [Semester], [IsActive], [CreatedAt], [DeletedAt]) VALUES (2, N'CNPM002', N'Cấu trúc dữ liệu và giải thuật', N'Môn học về cấu trúc dữ liệu và các thuật toán cơ bản', N'Hiểu và ứng dụng được các cấu trúc dữ liệu', 4, 60, N'Lập trình căn bản', 1, 2, N'2024-2025', N'HK1', 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL)
INSERT [dbo].[Courses] ([CourseID], [Code], [Name], [Description], [Objectives], [Credits], [Duration], [Prerequisites], [FacultyID], [LeadInstructorID], [AcademicYear], [Semester], [IsActive], [CreatedAt], [DeletedAt]) VALUES (3, N'CNPM003', N'Cơ sở dữ liệu', N'Môn học về thiết kế và quản lý cơ sở dữ liệu', N'Thiết kế và quản lý được CSDL quan hệ', 3, 45, N'Không', 1, 4, N'2024-2025', N'HK1', 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[Courses] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [Code], [Name], [Description], [FacultyID], [HeadID], [IsActive], [CreatedAt], [DeletedAt], [ImagePath]) VALUES (1, N'CNPM', N'Bộ môn Công nghệ Phần mềm', N'Chuyên về phát triển phần mềm và ứng dụng', 1, NULL, 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, N'/images/Department/01-KTTC.png')
INSERT [dbo].[Departments] ([DepartmentID], [Code], [Name], [Description], [FacultyID], [HeadID], [IsActive], [CreatedAt], [DeletedAt], [ImagePath]) VALUES (2, N'HTTT', N'Bộ môn Hệ thống Thông tin', N'Chuyên về quản lý và phân tích hệ thống thông tin', 1, NULL, 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, N'/images/Department/01-KTTC.png')
INSERT [dbo].[Departments] ([DepartmentID], [Code], [Name], [Description], [FacultyID], [HeadID], [IsActive], [CreatedAt], [DeletedAt], [ImagePath]) VALUES (3, N'KTMT', N'Bộ môn Kỹ thuật Máy tính', N'Chuyên về phần cứng và kiến trúc máy tính', 1, NULL, 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, N'/images/Department/01-KTTC.png')
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[DifficultyLevels] ON 

INSERT [dbo].[DifficultyLevels] ([LevelID], [LevelName]) VALUES (5, N'Dễ')
INSERT [dbo].[DifficultyLevels] ([LevelID], [LevelName]) VALUES (7, N'Khó')
INSERT [dbo].[DifficultyLevels] ([LevelID], [LevelName]) VALUES (8, N'Nâng cao')
SET IDENTITY_INSERT [dbo].[DifficultyLevels] OFF
GO
SET IDENTITY_INSERT [dbo].[ExamAnswers] ON 

INSERT [dbo].[ExamAnswers] ([AnswerID], [ResultID], [QuestionID], [StudentAnswer], [IsCorrect], [QuestionScore], [AnswerTime]) VALUES (4, 4, 11, N'A', 1, CAST(0.00 AS Decimal(5, 2)), CAST(N'2025-12-18T20:47:56.163' AS DateTime))
INSERT [dbo].[ExamAnswers] ([AnswerID], [ResultID], [QuestionID], [StudentAnswer], [IsCorrect], [QuestionScore], [AnswerTime]) VALUES (5, 4, 12, N'A', 1, CAST(0.00 AS Decimal(5, 2)), CAST(N'2025-12-18T20:47:56.180' AS DateTime))
INSERT [dbo].[ExamAnswers] ([AnswerID], [ResultID], [QuestionID], [StudentAnswer], [IsCorrect], [QuestionScore], [AnswerTime]) VALUES (6, 4, 13, N'A', 0, CAST(0.00 AS Decimal(5, 2)), CAST(N'2025-12-18T20:47:56.180' AS DateTime))
SET IDENTITY_INSERT [dbo].[ExamAnswers] OFF
GO
INSERT [dbo].[ExamQuestions] ([ExamID], [QuestionID], [QuestionOrder], [QuestionScore]) VALUES (1, 11, 1, CAST(3.33 AS Decimal(5, 2)))
INSERT [dbo].[ExamQuestions] ([ExamID], [QuestionID], [QuestionOrder], [QuestionScore]) VALUES (1, 12, 2, CAST(3.33 AS Decimal(5, 2)))
INSERT [dbo].[ExamQuestions] ([ExamID], [QuestionID], [QuestionOrder], [QuestionScore]) VALUES (1, 13, 3, CAST(3.33 AS Decimal(5, 2)))
GO
SET IDENTITY_INSERT [dbo].[ExamResults] ON 

INSERT [dbo].[ExamResults] ([ResultID], [ExamID], [StudentID], [Score], [TotalScore], [CompletedAt], [Status], [AttemptNumber]) VALUES (4, 3, 18, CAST(6.66 AS Decimal(5, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-12-18T20:47:56.033' AS DateTime), N'Completed', 1)
INSERT [dbo].[ExamResults] ([ResultID], [ExamID], [StudentID], [Score], [TotalScore], [CompletedAt], [Status], [AttemptNumber]) VALUES (5, 3, 18, CAST(6.66 AS Decimal(5, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-12-18T20:53:56.897' AS DateTime), N'Completed', 1)
INSERT [dbo].[ExamResults] ([ResultID], [ExamID], [StudentID], [Score], [TotalScore], [CompletedAt], [Status], [AttemptNumber]) VALUES (6, 3, 18, CAST(6.66 AS Decimal(5, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(N'2025-12-18T20:58:33.003' AS DateTime), N'Completed', 1)
SET IDENTITY_INSERT [dbo].[ExamResults] OFF
GO
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([ExamID], [ClassID], [Title], [Description], [StartTime], [EndTime], [TotalQuestions], [Duration], [MaxScore], [Conditions], [IsPublished], [AllowMultipleAttempts], [CreatedAt], [DeletedAt], [CreatedBy], [LessonId], [MaxAttempts], [ShowAnswers], [ShowScore], [ShowSubmission]) VALUES (1, 7, N'KT GK', N'đá', CAST(N'2025-12-13T00:18:00.000' AS DateTime), CAST(N'2025-12-14T00:18:00.000' AS DateTime), 0, 40, CAST(10.00 AS Decimal(5, 2)), N'dsad', 1, 0, CAST(N'2025-12-13T00:18:59.087' AS DateTime), CAST(N'2025-12-21T14:16:14.090' AS DateTime), 28, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Exams] ([ExamID], [ClassID], [Title], [Description], [StartTime], [EndTime], [TotalQuestions], [Duration], [MaxScore], [Conditions], [IsPublished], [AllowMultipleAttempts], [CreatedAt], [DeletedAt], [CreatedBy], [LessonId], [MaxAttempts], [ShowAnswers], [ShowScore], [ShowSubmission]) VALUES (3, 7, N'chapter test 18/12', N'dsad', CAST(N'2025-12-18T19:47:00.000' AS DateTime), CAST(N'2025-12-19T19:47:00.000' AS DateTime), 0, 20, CAST(10.00 AS Decimal(5, 2)), NULL, 1, 1, CAST(N'2025-12-18T19:47:52.070' AS DateTime), NULL, 28, 15, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Exams] OFF
GO
SET IDENTITY_INSERT [dbo].[Faculties] ON 

INSERT [dbo].[Faculties] ([FacultyID], [Code], [Name], [Description], [DeanID], [IsActive], [CreatedAt], [DeletedAt], [ImagePath]) VALUES (1, N'CNTT', N'Khoa Công nghệ Thông tin', N'Khoa đào tạo về công nghệ thông tin và khoa học máy tính', NULL, 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, N'/images/Faculties/01-KTTC.png')
INSERT [dbo].[Faculties] ([FacultyID], [Code], [Name], [Description], [DeanID], [IsActive], [CreatedAt], [DeletedAt], [ImagePath]) VALUES (2, N'KINH_TE', N'Khoa Kinh tế', N'Khoa đào tạo về kinh tế và quản trị kinh doanh', NULL, 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, N'/images/Faculties/03-KTCN.png')
INSERT [dbo].[Faculties] ([FacultyID], [Code], [Name], [Description], [DeanID], [IsActive], [CreatedAt], [DeletedAt], [ImagePath]) VALUES (3, N'NGOAI_NGU', N'Khoa Ngoại ngữ', N'Khoa đào tạo về ngôn ngữ và văn hóa quốc tế', NULL, 1, CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, N'/images/Faculties/04-NGNG.png')
SET IDENTITY_INSERT [dbo].[Faculties] OFF
GO
SET IDENTITY_INSERT [dbo].[LessonFiles] ON 

INSERT [dbo].[LessonFiles] ([FileID], [LessonID], [FileName], [FilePath], [FileSize], [FileType], [MIMEType], [Checksum], [FileVersion], [Description], [UploadedAt]) VALUES (1, 18, N'📚 Study sources', N'https://drive.google.com/drive/folders/1ZUn3gmSmDnhXZ9sWk7tVDQ0JcWJGE2Le', NULL, N'url', N'text/uri-list', NULL, 1, N'Slide bài giảng', CAST(N'2025-12-21T14:53:06.270' AS DateTime))
INSERT [dbo].[LessonFiles] ([FileID], [LessonID], [FileName], [FilePath], [FileSize], [FileType], [MIMEType], [Checksum], [FileVersion], [Description], [UploadedAt]) VALUES (3, 19, N'📚 Study sources', N'https://drive.google.com/drive/folders/1ZUn3gmSmDnhXZ9sWk7tVDQ0JcWJGE2Le', NULL, N'url', N'text/uri-list', NULL, 1, N'Slide bài giảng', CAST(N'2025-12-21T15:18:34.460' AS DateTime))
INSERT [dbo].[LessonFiles] ([FileID], [LessonID], [FileName], [FilePath], [FileSize], [FileType], [MIMEType], [Checksum], [FileVersion], [Description], [UploadedAt]) VALUES (4, 19, N'📚 Group Member Registration (Using student Email)', N'https://drive.google.com/drive/folders/1ZUn3gmSmDnhXZ9sWk7tVDQ0JcWJGE2Le', NULL, N'url', N'text/uri-list', NULL, 1, N'Slide bài giảng', CAST(N'2025-12-21T15:44:07.447' AS DateTime))
SET IDENTITY_INSERT [dbo].[LessonFiles] OFF
GO
SET IDENTITY_INSERT [dbo].[Lessons] ON 

SET IDENTITY_INSERT [dbo].[Lessons] OFF
GO
SET IDENTITY_INSERT [dbo].[Notifications] ON 

INSERT [dbo].[Notifications] ([NotificationID], [SenderID], [ReceiverID], [Title], [Content], [Type], [IsRead], [CreatedAt]) VALUES (1, 2, 7, N'Bài tập mới', N'Đã có bài tập mới trong môn Lập trình căn bản', N'Assignment', 0, CAST(N'2025-11-27T16:30:49.307' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [SenderID], [ReceiverID], [Title], [Content], [Type], [IsRead], [CreatedAt]) VALUES (2, 2, 8, N'Bài tập mới', N'Đã có bài tập mới trong môn Lập trình căn bản', N'Assignment', 1, CAST(N'2025-11-27T16:30:49.307' AS DateTime))
INSERT [dbo].[Notifications] ([NotificationID], [SenderID], [ReceiverID], [Title], [Content], [Type], [IsRead], [CreatedAt]) VALUES (3, 1, 2, N'Thông báo hệ thống', N'Hệ thống sẽ bảo trì vào cuối tuần', N'System', 0, CAST(N'2025-11-27T16:30:49.307' AS DateTime))
SET IDENTITY_INSERT [dbo].[Notifications] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionBank] ON 

INSERT [dbo].[QuestionBank] ([QuestionID], [CourseID], [Content], [Type], [Answer], [MaxScore], [DifficultyID], [Options], [Explanation], [CreatedBy], [CreatedAt], [DeletedAt]) VALUES (11, 5, N'sdascxas', N'TracNghiem', N'A', CAST(1.00 AS Decimal(5, 2)), 8, N'A| dsad
B| dsad
C| dsad
D| dsad', NULL, 28, CAST(N'2025-12-12T23:57:58.597' AS DateTime), NULL)
INSERT [dbo].[QuestionBank] ([QuestionID], [CourseID], [Content], [Type], [Answer], [MaxScore], [DifficultyID], [Options], [Explanation], [CreatedBy], [CreatedAt], [DeletedAt]) VALUES (12, 5, N'Phần Cứng là gì?
', N'TracNghiem', N'A', CAST(1.00 AS Decimal(5, 2)), 5, N'A| Các bộ phận cụ thể của máy tính về mặt vật lý như màn hình, chuột, bàn phím,... 
B| Cấu tạo của phần mềm về mặt logic 
C| Cấu tạo của phần mềm về mặt vật lý 
D| Cả 3 phương án đều sai', N'dsa', 28, CAST(N'2025-12-13T00:04:57.737' AS DateTime), NULL)
INSERT [dbo].[QuestionBank] ([QuestionID], [CourseID], [Content], [Type], [Answer], [MaxScore], [DifficultyID], [Options], [Explanation], [CreatedBy], [CreatedAt], [DeletedAt]) VALUES (13, 5, N'Trong máy tính, PC là chữ viết tắt của từ nào?', N'TracNghiem', N'B', CAST(1.00 AS Decimal(5, 2)), 5, N'A| Performance Computer 
B| Personal Computer 
C| Personnal Connector 
D| Printing Computer', NULL, 28, CAST(N'2025-12-13T00:06:51.707' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[QuestionBank] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (1, N'Admin', N'Quản trị viên hệ thống')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (2, N'DepartmentAdmin', N'Quản trị khoa')
INSERT [dbo].[Roles] ([RoleID], [RoleName], [Description]) VALUES (3, N'Teacher', N'Giảng viên')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[StudentGrades] ON 

INSERT [dbo].[StudentGrades] ([GradeID], [StudentID], [ClassID], [FinalScore], [GradeLetter], [CalculatedAt], [Status]) VALUES (1, 18, 7, CAST(6.00 AS Decimal(5, 2)), NULL, CAST(N'2025-12-20T22:49:22.483' AS DateTime), N'Draft')
SET IDENTITY_INSERT [dbo].[StudentGrades] OFF
GO
SET IDENTITY_INSERT [dbo].[Submissions] ON 

INSERT [dbo].[Submissions] ([SubmissionID], [AssignmentID], [StudentID], [FilePath], [FileName], [MIMEType], [Checksum], [SubmittedAt], [Score], [Feedback], [AttemptNumber], [Status], [GradedAt]) VALUES (1, 1, 7, N'/uploads/assignments/1/HelloWorld_SV001.txt', N'HelloWorld_SV001.txt', N'text/plain', NULL, CAST(N'2025-11-27T16:30:49.303' AS DateTime), CAST(10.00 AS Decimal(5, 2)), N'Hoàn thành tốt!', 1, N'Graded', NULL)
INSERT [dbo].[Submissions] ([SubmissionID], [AssignmentID], [StudentID], [FilePath], [FileName], [MIMEType], [Checksum], [SubmittedAt], [Score], [Feedback], [AttemptNumber], [Status], [GradedAt]) VALUES (2, 1, 8, N'/uploads/assignments/1/HelloWorld_SV002.txt', N'HelloWorld_SV002.txt', N'text/plain', NULL, CAST(N'2025-11-27T16:30:49.303' AS DateTime), CAST(9.00 AS Decimal(5, 2)), N'Tốt, nhưng thiếu comment', 1, N'Graded', NULL)
INSERT [dbo].[Submissions] ([SubmissionID], [AssignmentID], [StudentID], [FilePath], [FileName], [MIMEType], [Checksum], [SubmittedAt], [Score], [Feedback], [AttemptNumber], [Status], [GradedAt]) VALUES (3, 2, 7, N'/uploads/assignments/2/TinhTong_SV001.cpp', N'TinhTong_SV001.cpp', N'text/x-c++src', NULL, CAST(N'2025-11-27T16:30:49.303' AS DateTime), CAST(14.00 AS Decimal(5, 2)), N'Chương trình chạy đúng', 1, N'Graded', NULL)
SET IDENTITY_INSERT [dbo].[Submissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [MSSV_MGV], [FullName], [Email], [PasswordHash], [RoleID], [Status], [FacultyID], [DepartmentID], [StudentClass], [Phone], [Avatar], [LastLogin], [CreatedAt], [UpdatedAt], [DeletedAt], [AdministrativeClassID]) VALUES (1, N'ADMIN', N'Nguyễn Văn Admin', N'admin@lms.edu.vn', N'a', 1, N'Active', NULL, NULL, NULL, N'0901234567', NULL, NULL, CAST(N'2025-11-27T16:30:49.300' AS DateTime), CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, NULL)
INSERT [dbo].[Users] ([UserID], [MSSV_MGV], [FullName], [Email], [PasswordHash], [RoleID], [Status], [FacultyID], [DepartmentID], [StudentClass], [Phone], [Avatar], [LastLogin], [CreatedAt], [UpdatedAt], [DeletedAt], [AdministrativeClassID]) VALUES (2, N'GV001', N'Nguyễn Thị Hoa', N'hoa.nguyen@lms.edu.vn', N'$2a$11$mPEx3rnLfQfWDsi5Fha1bOikWTQsusDdTBJ1sIWf5YVlYzPHiY4Dq', 3, N'Active', 1, 1, NULL, N'0902111111', NULL, NULL, CAST(N'2025-11-27T16:30:49.300' AS DateTime), CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, NULL)
INSERT [dbo].[Users] ([UserID], [MSSV_MGV], [FullName], [Email], [PasswordHash], [RoleID], [Status], [FacultyID], [DepartmentID], [StudentClass], [Phone], [Avatar], [LastLogin], [CreatedAt], [UpdatedAt], [DeletedAt], [AdministrativeClassID]) VALUES (3, N'GV002', N'Trần Văn Nam', N'nam.tran@lms.edu.vn', N'hashed_password_123', 3, N'Active', 1, 1, NULL, N'0902222222', NULL, NULL, CAST(N'2025-11-27T16:30:49.300' AS DateTime), CAST(N'2025-11-27T16:30:49.300' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AdmClass__Code]    Script Date: 12/22/2025 9:15:07 PM ******/
ALTER TABLE [dbo].[AdministrativeClasses] ADD  CONSTRAINT [UQ__AdmClass__Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Courses__A25C5AA7F9DA4DD4]    Script Date: 12/22/2025 9:15:07 PM ******/
ALTER TABLE [dbo].[Courses] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Departme__A25C5AA7FC31F002]    Script Date: 12/22/2025 9:15:07 PM ******/
ALTER TABLE [dbo].[Departments] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Difficul__9EF3BE7B5B3B3C08]    Script Date: 12/22/2025 9:15:07 PM ******/
ALTER TABLE [dbo].[DifficultyLevels] ADD UNIQUE NONCLUSTERED 
(
	[LevelName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Facultie__A25C5AA78F0D15FE]    Script Date: 12/22/2025 9:15:07 PM ******/
ALTER TABLE [dbo].[Faculties] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_FacultyInstructor]    Script Date: 12/22/2025 9:15:07 PM ******/
ALTER TABLE [dbo].[FacultyInstructors] ADD  CONSTRAINT [UQ_FacultyInstructor] UNIQUE NONCLUSTERED 
(
	[FacultyID] ASC,
	[InstructorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__0FFDA357E708918C]    Script Date: 12/22/2025 9:15:07 PM ******/
ALTER TABLE [dbo].[Permissions] ADD UNIQUE NONCLUSTERED 
(
	[PermissionName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__8A2B6160ABCB17ED]    Script Date: 12/22/2025 9:15:07 PM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__StudentG__2E74B80242C32711]    Script Date: 12/22/2025 9:15:07 PM ******/
ALTER TABLE [dbo].[StudentGrades] ADD UNIQUE NONCLUSTERED 
(
	[StudentID] ASC,
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SystemCo__4A30678453683CFB]    Script Date: 12/22/2025 9:15:07 PM ******/
ALTER TABLE [dbo].[SystemConfig] ADD UNIQUE NONCLUSTERED 
(
	[ConfigKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105345CA2C531]    Script Date: 12/22/2025 9:15:07 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__EF82EA0678B2B854]    Script Date: 12/22/2025 9:15:07 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[MSSV_MGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdministrativeClasses] ADD  DEFAULT ((40)) FOR [MaxStudents]
GO
ALTER TABLE [dbo].[AdministrativeClasses] ADD  DEFAULT ((0)) FOR [CurrentStudents]
GO
ALTER TABLE [dbo].[AdministrativeClasses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AdministrativeClasses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((100)) FOR [MaxScore]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((1)) FOR [MaxAttempts]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((0)) FOR [AllowLateSubmission]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((0)) FOR [LatePenalty]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((1.00)) FOR [Weightage]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Assignments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AttendanceRecords] ADD  DEFAULT (N'Absent') FOR [Status]
GO
ALTER TABLE [dbo].[Attendances] ADD  DEFAULT (N'Open') FOR [Status]
GO
ALTER TABLE [dbo].[Attendances] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT ((100)) FOR [MaxStudents]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT ((0)) FOR [CurrentStudents]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Classes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ClassStudents] ADD  DEFAULT (getdate()) FOR [EnrollDate]
GO
ALTER TABLE [dbo].[ClassStudents] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Courses] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DeleteLogs] ADD  DEFAULT (getdate()) FOR [DeletedAt]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Departments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ExamAnswers] ADD  DEFAULT ((0)) FOR [IsCorrect]
GO
ALTER TABLE [dbo].[ExamAnswers] ADD  DEFAULT ((0)) FOR [QuestionScore]
GO
ALTER TABLE [dbo].[ExamAnswers] ADD  DEFAULT (getdate()) FOR [AnswerTime]
GO
ALTER TABLE [dbo].[ExamQuestions] ADD  DEFAULT ((0)) FOR [QuestionOrder]
GO
ALTER TABLE [dbo].[ExamQuestions] ADD  DEFAULT ((1.00)) FOR [QuestionScore]
GO
ALTER TABLE [dbo].[ExamResults] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ExamResults] ADD  DEFAULT ((1)) FOR [AttemptNumber]
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT ((0)) FOR [AllowMultipleAttempts]
GO
ALTER TABLE [dbo].[Exams] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Faculties] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Faculties] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[FacultyInstructors] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[FacultyInstructors] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[LessonFiles] ADD  DEFAULT ((1)) FOR [FileVersion]
GO
ALTER TABLE [dbo].[LessonFiles] ADD  DEFAULT (getdate()) FOR [UploadedAt]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT ((0)) FOR [IsPublished]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Lessons] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ('General') FOR [Type]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[QuestionBank] ADD  DEFAULT ((1.00)) FOR [MaxScore]
GO
ALTER TABLE [dbo].[QuestionBank] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Schedules] ADD  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [dbo].[Schedules] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[StudentGrades] ADD  DEFAULT (getdate()) FOR [CalculatedAt]
GO
ALTER TABLE [dbo].[StudentGrades] ADD  DEFAULT ('Draft') FOR [Status]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT (getdate()) FOR [SubmittedAt]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT ((1)) FOR [AttemptNumber]
GO
ALTER TABLE [dbo].[Submissions] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[SystemConfig] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ActivityLogs]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AdministrativeClasses]  WITH CHECK ADD  CONSTRAINT [FK__AdmClass__Advisor] FOREIGN KEY([AdvisorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AdministrativeClasses] CHECK CONSTRAINT [FK__AdmClass__Advisor]
GO
ALTER TABLE [dbo].[AdministrativeClasses]  WITH CHECK ADD  CONSTRAINT [FK__AdmClass__Department] FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[AdministrativeClasses] CHECK CONSTRAINT [FK__AdmClass__Department]
GO
ALTER TABLE [dbo].[AdministrativeClasses]  WITH CHECK ADD  CONSTRAINT [FK__AdmClass__Faculty] FOREIGN KEY([FacultyID])
REFERENCES [dbo].[Faculties] ([FacultyID])
GO
ALTER TABLE [dbo].[AdministrativeClasses] CHECK CONSTRAINT [FK__AdmClass__Faculty]
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Assignments]  WITH CHECK ADD  CONSTRAINT [FK_Assignments_Lessons] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([LessonID])
GO
ALTER TABLE [dbo].[Assignments] CHECK CONSTRAINT [FK_Assignments_Lessons]
GO
ALTER TABLE [dbo].[AttendanceRecords]  WITH CHECK ADD  CONSTRAINT [FK__AttendanceRecord__AttendanceId] FOREIGN KEY([AttendanceId])
REFERENCES [dbo].[Attendances] ([AttendanceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AttendanceRecords] CHECK CONSTRAINT [FK__AttendanceRecord__AttendanceId]
GO
ALTER TABLE [dbo].[AttendanceRecords]  WITH CHECK ADD  CONSTRAINT [FK__AttendanceRecord__StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[AttendanceRecords] CHECK CONSTRAINT [FK__AttendanceRecord__StudentId]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK__Attendance__ClassId] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK__Attendance__ClassId]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK__Attendance__CreatedBy] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK__Attendance__CreatedBy]
GO
ALTER TABLE [dbo].[Attendances]  WITH CHECK ADD  CONSTRAINT [FK__Attendance__LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([LessonID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Attendances] CHECK CONSTRAINT [FK__Attendance__LessonId]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ClassStudents]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[ClassStudents]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([FacultyID])
REFERENCES [dbo].[Faculties] ([FacultyID])
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([LeadInstructorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DeleteLogs]  WITH CHECK ADD FOREIGN KEY([DeletedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD FOREIGN KEY([FacultyID])
REFERENCES [dbo].[Faculties] ([FacultyID])
GO
ALTER TABLE [dbo].[ExamAnswers]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[QuestionBank] ([QuestionID])
GO
ALTER TABLE [dbo].[ExamAnswers]  WITH CHECK ADD FOREIGN KEY([ResultID])
REFERENCES [dbo].[ExamResults] ([ResultID])
GO
ALTER TABLE [dbo].[ExamQuestions]  WITH CHECK ADD FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[ExamQuestions]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[QuestionBank] ([QuestionID])
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Lessons] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([LessonID])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Lessons]
GO
ALTER TABLE [dbo].[Exams]  WITH CHECK ADD  CONSTRAINT [FK_Exams_Lessons_LessonId] FOREIGN KEY([LessonId])
REFERENCES [dbo].[Lessons] ([LessonID])
GO
ALTER TABLE [dbo].[Exams] CHECK CONSTRAINT [FK_Exams_Lessons_LessonId]
GO
ALTER TABLE [dbo].[FacultyInstructors]  WITH CHECK ADD FOREIGN KEY([FacultyID])
REFERENCES [dbo].[Faculties] ([FacultyID])
GO
ALTER TABLE [dbo].[FacultyInstructors]  WITH CHECK ADD FOREIGN KEY([InstructorID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[LessonFiles]  WITH CHECK ADD FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lessons] ([LessonID])
GO
ALTER TABLE [dbo].[Lessons]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([ReceiverID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD FOREIGN KEY([SenderID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[QuestionBank]  WITH CHECK ADD FOREIGN KEY([CourseID])
REFERENCES [dbo].[Courses] ([CourseID])
GO
ALTER TABLE [dbo].[QuestionBank]  WITH CHECK ADD FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[QuestionBank]  WITH CHECK ADD FOREIGN KEY([DifficultyID])
REFERENCES [dbo].[DifficultyLevels] ([LevelID])
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([PermissionID])
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD FOREIGN KEY([LessonID])
REFERENCES [dbo].[Lessons] ([LessonID])
GO
ALTER TABLE [dbo].[StudentGrades]  WITH CHECK ADD FOREIGN KEY([ClassID])
REFERENCES [dbo].[Classes] ([ClassID])
GO
ALTER TABLE [dbo].[StudentGrades]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD FOREIGN KEY([AssignmentID])
REFERENCES [dbo].[Assignments] ([AssignmentID])
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__AdmClass] FOREIGN KEY([AdministrativeClassID])
REFERENCES [dbo].[AdministrativeClasses] ([AdministrativeClassID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__AdmClass]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([FacultyID])
REFERENCES [dbo].[Faculties] ([FacultyID])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[ClassStudents]  WITH CHECK ADD CHECK  (([Status]='Dropped' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[ExamResults]  WITH CHECK ADD CHECK  (([Status]='InProgress' OR [Status]='Missed' OR [Status]='Completed' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD CHECK  (([Type]='General' OR [Type]='Grade' OR [Type]='Exam' OR [Type]='Assignment' OR [Type]='System'))
GO
ALTER TABLE [dbo].[QuestionBank]  WITH CHECK ADD CHECK  (([Type]='TuLuan' OR [Type]='TracNghiem'))
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD CHECK  (([DayOfWeek]='Sunday' OR [DayOfWeek]='Saturday' OR [DayOfWeek]='Friday' OR [DayOfWeek]='Thursday' OR [DayOfWeek]='Wednesday' OR [DayOfWeek]='Tuesday' OR [DayOfWeek]='Monday'))
GO
ALTER TABLE [dbo].[Schedules]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Scheduled'))
GO
ALTER TABLE [dbo].[StudentGrades]  WITH CHECK ADD CHECK  (([Status]='Finalized' OR [Status]='Draft'))
GO
ALTER TABLE [dbo].[Submissions]  WITH CHECK ADD CHECK  (([Status]='Late' OR [Status]='Graded' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Status]='Locked' OR [Status]='Active'))
GO
